<h1>Encrypt</h1>

<form action="/encrypted">
  <textarea name='text' class='form-control' rows=10><%= @text %></textarea>
  <input type='submit' value='Encrypt!' class='btn btn-primary btn-lg'>
</form>

<h1>Decrypt</h1>

<form action="/decrypted">
  <textarea name='text' class='form-control' rows=10></textarea>
  <input type='submit' value='Decrypt!' class='btn btn-primary btn-lg'>
</form>